
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav navbar-nav navbar-left">
                <li><a ui-sref="personal">Overview</a></li>
                <li><a ui-sref="personal.projects" ui-sref-active="active">Projects</a></li>
                <li><a ui-sref="personal.risks" ui-sref-active="active">Risks</a></li>
            </ul>
        </div>
    </div>
    <div class="row top-buffer">
        <div clas="col-md-12">
            <div ncy-breadcrumb></div>
        </div>
    </div>
    <div class="row top-buffer homepage-rij1">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Company KPI</h3>
                    <p>Weighted order value</p>
                </div>
                <div class="panel-body">
                    <div ui-view="lineChart"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Company KPI</h3>
                    <p>Customer satisfaction</p>
                </div>
                <div class="panel-body">
                    <div ui-view="radialGauge"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p>Personal KPI</p>
                    <h3 class="panel-title">Task completion</h3>
                </div>
                <div class="panel-body">
                    <div ui-view="barChart"></div>
                    <a class="btn btn-primary">All tasks</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row top-buffer homepage-rij2">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p>Tasks</p>
                    <h3 class="panel-title">Urgent tasks</h3>
                </div>
                <div class="panel-body">
                    <div ui-view="urgentTasks"></div>
                    <a class="btn btn-primary">All tasks</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p>Updates</p>
                    <h3 class="panel-title">Company wide news</h3>
                </div>
                <div class="panel-body news-block">
                    <ul>
                        <li>
                            <a href="#">My company now has 100 employees!</a>
                            <p class="block-ellipsis">Lorem ipsum dolor sit amet, consectetuer adipiscing elit pretium quis, sem. Nulla consequat massa quis enlor sit amet, consectetuer adipiscing elit pretium quis, sem. Nulla consequat massa quis enim.</p>
                        </li>
                        <li>
                            <a href="#">20M€ order approved for Client X!</a>
                            <p class="block-ellipsis">Lorem ipsum dolor sit amet, consectetuer adipiscing elit pretium quis, sem. Nulla consequat massa quis enlor sit amet, consectetuer adipiscing elit pretium quis, sem. Nulla consequat massa quis enim.</p>
                        </li>
                        <li>
                            <a href="#">Zero-accident record broken!</a>
                            <p class="block-ellipsis">Lorem ipsum dolor sit amet, consectetuer adipiscing elit pretium quis, sem. Nulla consequat massa quis enlor sit amet, consectetuer adipiscing elit pretium quis, sem. Nulla consequat massa quis enim.</p>
                        </li>
                    </ul>
                    <a class="btn btn-primary">All company updates</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p>Updates</p>
                    <h3 class="panel-title">My Project updates</h3>
                </div>
                <div class="panel-body news-block">
                    <ul>
                        <li>
                            <a href="#">My company now has 100 employees!</a>
                            <p class="block-ellipsis">Lorem ipsum dolor sit amet, consectetuer adipiscing elit pretium quis, sem. Nulla consequat massa quis enlor sit amet, consectetuer adipiscing elit pretium quis, sem. Nulla consequat massa quis enim.</p>
                        </li>
                        <li>
                            <a href="#">20M€ order approved for Client X!</a>
                            <p class="block-ellipsis">Lorem ipsum dolor sit amet, consectetuer adipiscing elit pretium quis, sem. Nulla consequat massa quis enlor sit amet, consectetuer adipiscing elit pretium quis, sem. Nulla consequat massa quis enim.</p>
                        </li>
                        <li>
                            <a href="#">Zero-accident record broken!</a>
                            <p class="block-ellipsis">Lorem ipsum dolor sit amet, consectetuer adipiscing elit pretium quis, sem. Nulla consequat massa quis enlor sit amet, consectetuer adipiscing elit pretium quis, sem. Nulla consequat massa quis enim.</p>
                        </li>
                    </ul>
                    <a class="btn btn-primary">All personal updates</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row top-buffer homepage-rij3">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p>Tasks</p>
                    <h3 class="panel-title">Urgent tasks</h3>
                </div>
                <div class="panel-body">
                    <div ui-view=""></div>
                    <a class="btn btn-primary">All tasks</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p>Risks:</p>
                    <h3 class="panel-title">Rejects</h3>
                </div>
                <div class="panel-body">
                    <div ui-view="radialGaugeTwo"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p>Risks</p>
                    <h3 class="panel-title">Sick leave</h3>
                </div>
                <div class="panel-body">

                </div>
            </div>
        </div>
    </div>
</div>