<div class="menu" ng-controller="menuController">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <li ng-repeat="item in items" ng-class="{'dropdown-submenu': item.submenu && item.submenu.length}"><a href="{{item.link}}">{{item.name}}</a>
            <ul ng-if="item.submenu && item.submenu.length" class="dropdown-menu">
                <li ng-repeat="subitem in item.submenu"><a href="{{subitem.link}}">{{subitem.name}}</a></li>
            </ul>
        </li>
    </ul>
</div>