<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Company</h2>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-md-12">
            <div ncy-breadcrumb></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Company KPI</h3>
                    <p>Weighted order value</p>
                </div>
                <div class="panel-body" ui-view="lineChart">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Company KPI</h3>
                    <p>Customer satisfaction</p>
                </div>
                <div class="panel-body" ui-view="pieChart"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Personal KPI</h3>
                    <p>Task completion</p>
                </div>
                <div class="panel-body" ui-view="barCharts"></div>
            </div>
        </div>
    </div>
</div>