<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Company</h2>
        </div>
    </div>

    <div class="row top-buffer">
        <div class="col-md-12">
            <div ncy-breadcrumb></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p>Company KPI</p>
                    <h3 class="panel-title">Weighted order value</h3>
                </div>
                <div class="panel-body" ui-view="lineChart">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p>Company KPI</p>
                    <h3 class="panel-title">Customer satisfaction</h3>
                </div>
                <div class="panel-body" ui-view="pieChart"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p>Personal KPI</p>
                    <h3 class="panel-title">Task completion</h3>
                </div>
                <div class="panel-body" ui-view="barCharts"></div>
            </div>
        </div>
    </div>
</div>