<div class="container">
    <div class="row top-buffer">
        <div ncy-breadcrumb></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Company KPI</h3>
                    <p>Weighted order value</p>
                </div>
                <div class="panel-body" ui-view="lineChart">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Company KPI</h3>
                    <p>Customer satisfaction</p>
                </div>
                <div class="panel-body" ui-view="pieChart"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Personal KPI</h3>
                    <p>Task completion</p>
                </div>
                <div class="panel-body" ui-view="barCharts"></div>
            </div>
        </div>
    </div>

    <div class="jumbotron text-center">
        <h1>{{ message }}</h1>
        <p>This page demonstrates <span class="text-danger">multiple</span> and <span class="text-danger">named</span> views.</p>
    </div>

    <div class="row">

        <!-- COLUMN ONE NAMED VIEW -->
        <div class="col-sm-6">
            <div ui-view="columnOne"></div>
        </div>

        <!-- COLUMN TWO NAMED VIEW -->
        <div class="col-sm-6">
            <div ui-view="columnTwo"></div>
        </div>

    </div>
</div>