.menu-bar{
    width:100%;
    background-color: #EAF1F5;
}

.nav {
    position:relative;
}

.nav > .dropdown-menu {
    position:static;
    display:block;
}

.navbar-nav>li>a{
    padding:10px 15px;
    font-size: 1.5em;
}

.top-buffer {
    margin-top:20px;
}

.nav>li>a.active{
    background:#eee;
}

.btn{
    margin: 5px 0;
}

.panel {
    height:450px;
}

.panel a.btn{
    position: absolute;
    bottom: 45px;
}

.panel-default>.panel-heading{
    background-color: #EAF1F5;
}

.mtt-majorGraduationText {
    display:none;
}

.mtt-graduationValueText{
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.block-ellipsis {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 49.22666666666667px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.846;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Homepage */

.news-block ul{
    list-style:none;
    padding-left:0;
}

.news-block ul li {
    margin-bottom:20px;
}

.news-block ul li a{
    font-size:1.2em;
}


/* Other shite */
.rejects .table-bordered>thead>tr>th, .rejects .table-bordered>thead>tr>td{
    width:33%;
    text-align:center;
}

.rejects .table-bordered>tbody>tr>td{
    text-align: center;
}

.sideways.tabs-left{
    left:-85px;
}

.sideways{
    margin-top: 42px;
}

.tab-content ul{
    list-style: none;
    padding: 0;
}